.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 10px 10px grey;
}
.note
{
    font-size: 15px;
    color: black;
}
.copy_right_footer
{
position: fixed;
color: aliceblue;
bottom: 0;
width: 100%;
background-color: gray;
line-height: 3;
text-align: center;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
}
body
{
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}